{% extends 'base.html.twig' %}

{% block title %}
	Administation des catégories
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-3">
		<h1 class="text-center">Administration des catégories</h1>
		<a href="{{ path('admin.categories.create') }}" class="btn btn-primary mt-2">Créer une catégorie</a>
		<div class="table-responsive mt-3">
			<table class="table table-striped table-bordered table-primary">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Actif</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for category in categories %}
						<tr>
							<td>{{ category.id }}</td>
							<td>{{ category.name }}</td>
							<td>{{ category.enabled ? 'Oui' : 'Non' }}</td>
							<td>
								<div class="d-flex gap-2">
									<a href="{{ path('admin.categories.update', {id: category.id}) }}" class="btn btn-warning">Modifier</a>
									<form action="{{ path('admin.categories.delete', {id: category.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie')">
										<input type="hidden" name="token" value="{{ csrf_token('delete' ~ category.id) }}">
										<button type="submit" class="btn btn-danger">Supprimer</button>
									</form>
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">
								<div class="alert alert-info">Aucuns résultats</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}

