{% extends "base.html.twig" %}

{% block title %}
    Modification de l'utilisateur
{% endblock %}

{% block body %}
    <section class="container mt-3">
        <h1 class="text-center">Modification d'un user</h1>
        {{ form_start(form, {attri: {class: 'card p-3 mt-2 w-75 mx-auto'}}) }}
         <div class="row">
            <div class = "col-12 col-md-6">
                {{ form_row(form.firstName) }}
            </div>
            <div class = "col-12 col-md-6">
                {{ form_row(form.lastName) }}
            </div>
         </div>

        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}

    </section>
{% endblock %}